In [2]:
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

## Read + Clean Data

In [23]:
raw = pd.read_csv('../dat/inf-USAir97.mtx', sep=' ', skiprows=23, header=None, names=['node1','node2','weight'])

In [24]:
raw.head()

   node1  node2     weight
0    332    332  2126.0000
1      2      1     0.0436
2      4      1     0.0767
3      8      1     0.1026
4      4      2     0.0515

In [25]:
raw[raw['node1'] == raw['node2']]

   node1  node2  weight
0    332    332  2126.0

In [26]:
raw.drop([0], inplace=True)

## Build Graph